#today {
    padding: 20px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#forecast {
    display: flex;
    flex-direction:column;
}

.forecast-box {
    margin-right: 10px;
    border-style: solid;
    padding: 10px;
}

#button-section {
    display: flex;
    flex-direction: column;
}

.city-button {
    padding: 10px;
    margin: 10px;
}