#today {
    padding: 20px;
    border-style: solid;
    display: none;
    flex-direction: column;
}

#forecast {
    display: none; 
    flex-direction:column;
}

.forecast-box {
    margin-right: 10px;
    border-style: solid;
    padding: 10px;
}

#button-section {
    display: flex;
    flex-direction: column;
}

.city-button {
    padding: 10px;
    margin: 10px;
}

.show{
    display: flex !important;
}

#search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#screen-top {
    margin-top: 20px;
}